@import "_variables";
.header {
    background-color: $white;
    z-index: 1400;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 3rem;
    display: grid;
    grid-template-columns: 300px 3fr 300px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
    .signing-buttons {
        background-color: none;
        display: grid;
        place-items: center;
        .button {
            border: none;
            outline: none;
            background-color: rgba(241, 242, 246, 2);
            width: 110px;
            text-transform: uppercase;
            transition: all 0.4s ease 0s;
            font-size: 12px;
            &:hover {
                background-color: rgba(216, 219, 228, 0.8);
            }
        }
    }
    /* GRID COLUMN FOR LOGO ELEMENT*/
    .for-logo {
        background-color: none;
        display: grid;
        place-items: center;
        .logo {
            img {
                width: 40px;
                image-rendering: pixelated;
            }
            h1 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 18px;
                color: $primaryColor;
            }
        }
    }
    /* GRID COLUMN FOR MENUBAR ITEMS*/
    .for-menu-items {
        background-color: none;
        display: grid;
        place-items: center;
        .nav {
            background-color: none;
            max-width: 98rem;
            padding: auto 8rem;
            display: grid;
            place-items: center;
            .nav-list {
                list-style: none;
                display: flex;
            }
            .nav-item {
                letter-spacing: 0.03em;
                text-transform: uppercase;
                border: 1px solid $white;
                color: $darkGrey;
                padding: 0 2rem;
                //font-weight: 700;
                font-size: 12px;
                transition: all 0.4s ease 0s;
                &:hover {
                    color: $lightGrey;
                }
            }
            .ham-menu {
                position: absolute;
                z-index: 1400;
                top: 0;
                right: 0;
                background-color: $borderColor;
                width: 50px;
                border-radius: 0;
                font-size: 1.3rem;
            }
        }
        .sub-nav {
            border-top: 2px solid $darkGrey;
            place-items: center;
            display: none;
            z-index: 1400;
            margin-left: -70;
            width: 300px;
            height: max-content;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
        }
        li:hover .sub-nav {
            display: block;
            position: absolute;
            backdrop-filter: blur(2rem);
            place-items: left;
        }
        li a {
            padding: 5px;
            height: 3rem;
            display: grid;
            place-items: center;
            color: $lightGrey;
            border: none;
            font-size: 14px;
            //border-radius: 25px;
            transition: all 0.4s ease 0s;
            &:hover {
                //border-bottom: 1px solid $borderColor;
                //color: $darkGrey;
                color: $white;
            }
        }
    }
}