/* Color Theme Swatches in Hex */

$primaryColor: #044161;
$primaryColorLight: #b6d1e0;
$darkGrey:#1e272e;
$lightGrey:#576067;
$borderColor: #f1f2f6;
$white: #fff;

/*Custom font imports*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
$roboto: 'Roboto',
sans-serif;