/* Color Theme Swatches in Hex */
/*Custom font imports*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
.header {
  background-color: #fff;
  z-index: 1400;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  height: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 3fr 300px;
      grid-template-columns: 300px 3fr 300px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
  /* GRID COLUMN FOR LOGO ELEMENT*/
  /* GRID COLUMN FOR MENUBAR ITEMS*/
}

.header .signing-buttons {
  background-color: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.header .signing-buttons .button {
  border: none;
  outline: none;
  background-color: #f1f2f6;
  width: 110px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-size: 12px;
}

.header .signing-buttons .button:hover {
  background-color: rgba(216, 219, 228, 0.8);
}

.header .for-logo {
  background-color: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.header .for-logo .logo img {
  width: 40px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.header .for-logo .logo h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #044161;
}

.header .for-menu-items {
  background-color: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.header .for-menu-items .nav {
  background-color: none;
  max-width: 98rem;
  padding: auto 8rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.header .for-menu-items .nav .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .for-menu-items .nav .nav-item {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: #1e272e;
  padding: 0 2rem;
  font-size: 12px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header .for-menu-items .nav .nav-item:hover {
  color: #576067;
}

.header .for-menu-items .nav .ham-menu {
  position: absolute;
  z-index: 1400;
  top: 0;
  right: 0;
  background-color: #f1f2f6;
  width: 50px;
  border-radius: 0;
  font-size: 1.3rem;
}

.header .for-menu-items .sub-nav {
  border-top: 2px solid #1e272e;
  place-items: center;
  display: none;
  z-index: 1400;
  margin-left: -70;
  width: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
}

.header .for-menu-items li:hover .sub-nav {
  display: block;
  position: absolute;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  place-items: left;
}

.header .for-menu-items li a {
  padding: 5px;
  height: 3rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #576067;
  border: none;
  font-size: 14px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header .for-menu-items li a:hover {
  color: #fff;
}

/* Color Theme Swatches in Hex */
/*Custom font imports*/
/***************************************************************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  color: #044161;
  font-size: 14px;
  height: 100%;
  background-color: #fff;
  color: #1e272e;
}

/** GRID LAYOUT**/
.layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 18%) 1fr;
      grid-template-columns: minmax(300px, 18%) 1fr;
  height: 100%;
}

.left-side {
  height: calc(100vh - 2.5rem);
  padding: 10px;
  padding-top: 20px;
  background-color: #f1f2f6;
  border-right: 1px solid #fff;
}

.left-side .search {
  padding: 0;
}

.left-side .search .input {
  border: none;
  outline: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
}

.left-side .search ::-webkit-input-placeholder {
  color: #d3d4da;
}

.left-side .search :-ms-input-placeholder {
  color: #d3d4da;
}

.left-side .search ::-ms-input-placeholder {
  color: #d3d4da;
}

.left-side .search ::placeholder {
  color: #d3d4da;
}

.left-side .search .search-btn {
  border: none;
  outline: none;
  border-radius: 50px;
  color: #3661a7;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.left-side .search .search-btn:hover {
  color: rgba(50, 115, 220, 0.8);
}

.left-side .search .search-btn:hover .fas {
  font-size: 14px;
}

.left-side .data-info {
  border: 2px solid #f1f2f6;
  border-radius: 25px;
  background-color: #fff;
  padding: 10px;
  margin: auto;
  height: calc(100vh - 135px);
  margin-top: 10px;
}

.left-side .data-info .left-side-menu {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #f1f2f6;
  border-radius: 25px;
  margin: auto;
  text-align: center;
  padding: 5px;
}

.left-side .data-info .left-side-menu::-webkit-scrollbar {
  display: none;
}

.left-side .data-info .button {
  color: #1e272e;
  width: 120px;
  text-align: left;
  margin: 2px;
  font-weight: 700;
  padding: 10px;
  margin-top: 5px;
  background-color: #fff;
  border: none;
}

.left-side .data-info .button:hover {
  background-color: #f1f2f6;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

.left-side .data-info .button .fas {
  color: #1e272e;
  text-align: center;
  padding-right: 3px;
}

.left-side .data-info .coordnate-system,
.left-side .data-info .coordnate-reference {
  border: 1px solid #f1f2f6;
  border-radius: 25px;
  margin: 40px auto;
  padding: 20px;
}

.left-side .data-info .coordnate-system h1,
.left-side .data-info .coordnate-reference h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 10px;
}

.left-side .data-info .coordnate-system .input,
.left-side .data-info .coordnate-reference .input {
  border: 1px solid #f1f2f6;
  border-radius: 10px;
}

.left-side .data-info .coordnate-system .select-item,
.left-side .data-info .coordnate-reference .select-item {
  border: 1px solid #f1f2f6;
  border-radius: 10px;
}

.left-side .data-info .coordnate-system .select-item .select-option,
.left-side .data-info .coordnate-reference .select-item .select-option {
  border: 1px solid #f1f2f6;
  padding: 10px;
}

.left-side .data-info .coordnate-system .search,
.left-side .data-info .coordnate-reference .search {
  background-color: #3273dc;
  letter-spacing: .05em;
  text-align: center;
  display: -ms-grid;
  display: grid;
  padding: 0;
  color: #fff;
  border: none;
  margin-top: 10px;
  text-transform: uppercase;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.left-side .data-info .coordnate-system .search:hover,
.left-side .data-info .coordnate-reference .search:hover {
  background-color: rgba(50, 115, 220, 0.8);
}

.aside {
  z-index: 1400;
  background-color: #f1f2f6;
  position: absolute;
  top: 0;
  border: 2px solid #f1f2f6;
  border-radius: 25px;
  padding: 10px;
  width: 300px;
  height: calc(100vh - 310px);
  margin-top: 280px;
  margin-left: 0;
  display: none;
}

.aside h1 {
  font-size: 16px;
  font-weight: 700;
}

.aside li a {
  font-size: 14px;
  border-radius: 0;
  border: 1;
}

.aside li a:hover {
  background-color: #fff;
}

.aside li a .checkbox {
  margin-right: 20px;
}

.right-side {
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
  height: calc(100vh - 40px);
}

.right-side iframe {
  width: 110%;
  height: 100vh;
}

.right-side .interaction-buttons {
  height: 100%;
  position: fixed;
  right: 0;
  top: 5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  /** Tooltip CSS Animation**/
}

.right-side .interaction-buttons button {
  width: 30px;
  height: 30px;
  font-size: 14px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: none;
  margin: 5px;
  color: #1e272e;
  background-color: #fff;
  border: 1px solid #f1f2f6;
}

.right-side .interaction-buttons button:hover {
  background-color: #1e272e;
  color: #f1f2f6;
  border: none;
}

.right-side .interaction-buttons .magnifiying-btn {
  position: absolute;
  right: 10;
  top: 0;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

.right-side .interaction-buttons .btn-rotation,
.right-side .interaction-buttons .btn-zoom-in,
.right-side .interaction-buttons .btn-zoom-out {
  position: relative;
}

.right-side .interaction-buttons .btn-rotation::before,
.right-side .interaction-buttons .btn-rotation::after,
.right-side .interaction-buttons .btn-zoom-in::before,
.right-side .interaction-buttons .btn-zoom-in::after,
.right-side .interaction-buttons .btn-zoom-out::before,
.right-side .interaction-buttons .btn-zoom-out::after {
  position: absolute;
  right: 2.5rem;
  --scale: 0;
  cursor: pointer;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  font-weight: 700;
  font-size: 12px;
}

.right-side .interaction-buttons .btn-rotation::before,
.right-side .interaction-buttons .btn-zoom-in::before,
.right-side .interaction-buttons .btn-zoom-out::before {
  content: attr(data-tooltip);
  padding: .5rem;
  color: #f1f2f6;
  background-color: #1e272e;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: .3rem;
  text-align: center;
  -webkit-transform: scale(var(--scale));
          transform: scale(var(--scale));
  -webkit-transition: 100ms -webkit-transform ease-out;
  transition: 100ms -webkit-transform ease-out;
  transition: 100ms transform ease-out;
  transition: 100ms transform ease-out, 100ms -webkit-transform ease-out;
}

.right-side .interaction-buttons .btn-rotation:hover:before,
.right-side .interaction-buttons .btn-zoom-in:hover::before,
.right-side .interaction-buttons .btn-zoom-out:hover::before {
  --scale: 1;
}

.right-side .interaction-buttons .map-styles {
  display: -ms-grid;
  display: grid;
  position: absolute;
  right: 10;
  bottom: 230px;
  border: none;
  background-color: white;
  border-radius: 10px;
  display: none;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

.right-side .interaction-buttons .layers-btn {
  display: -ms-grid;
  display: grid;
  position: absolute;
  right: 10;
  bottom: 180;
  border: none;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

.right-side .interaction-buttons .info-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  font-size: 12px;
  bottom: 85;
  right: 100;
  border-radius: 25px;
  color: #f1f2f6;
  background-color: #0088ff;
}

.right-side .interaction-buttons .mini-map {
  position: absolute;
  bottom: 90px;
  right: 10px;
  overflow: auto;
  width: 80px;
  height: 80px;
  border: 2px solid #f1f2f6;
  border-radius: 15px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

/** Button default button setting for all buttons**/
.button.is-rounded {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .02em;
  word-wrap: none;
}
/*# sourceMappingURL=style.css.map */