@import "_navbar";
@import "_variables";

/***************************************************************/

* {
    box-sizing: border-box;
}

body,
html {
    font-family: $roboto;
    color: $primaryColor;
    font-size: 14px;
    height: 100%;
    background-color: $white;
    color: $darkGrey;
}


/** GRID LAYOUT**/

.layout {
    display: grid;
    grid-template-columns: minmax(300px, 18%) 1fr;
    height: 100%;
}

.left-side {
    height: calc(100vh - 2.5rem);
    padding: 10px;
    padding-top: 20px;
    background-color: $borderColor;
    border-right: 1px solid $white;
    .search {
        padding: 0;
        //padding-bottom: 10px;
        .input {
            //might changes it again
            border: none;
            outline: none;
            border-radius: 50px;
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
        }
         ::placeholder {
            color: #d3d4da;
        }
        .search-btn {
            //border-top-right-radius: 10px;
            //border-bottom-right-radius: 10px;
            border: none;
            outline: none;
            border-radius: 50px;
            color: rgba(54, 97, 167, 1);
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
            transition: all 0.4s ease 0s;
            &:hover {
                .fas {
                    font-size: 14px;
                }
                color: rgba(50, 115, 220, 0.8);
            }
        }
    }
    .data-info {
        border: 2px solid $borderColor;
        border-radius: 25px;
        background-color: $white;
        padding: 10px;
        margin: auto;
        height: calc(100vh - 135px);
        margin-top: 10px;
        .left-side-menu {
            height: max-content;
            background-color: $borderColor;
            border-radius: 25px;
            margin: auto;
            text-align: center;
            padding: 5px;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .button {
            color: $darkGrey;
            width: 120px;
            text-align: left;
            margin: 2px;
            font-weight: 700;
            padding: 10px;
            margin-top: 5px;
            background-color: $white;
            border: none;
            &:hover {
                background-color: $borderColor;
                border: 1px solid $white;
                box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
            }
            .fas {
                color: $darkGrey;
                text-align: center;
                padding-right: 3px;
            }
        }
        .coordnate-system,
        .coordnate-reference {
            border: 1px solid $borderColor;
            border-radius: 25px;
            margin: 40px auto;
            padding: 20px;
            //box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
            h1 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                margin-bottom: 10px;
            }
            .input {
                border: 1px solid $borderColor;
                border-radius: 10px;
            }
            .select-item {
                border: 1px solid $borderColor;
                border-radius: 10px;
                .select-option {
                    border: 1px solid $borderColor;
                    padding: 10px;
                }
            }
            .search {
                background-color: rgba(50, 115, 220, 1);
                letter-spacing: .05em;
                text-align: center;
                display: grid;
                padding: 0;
                color: $white;
                border: none;
                margin-top: 10px;
                text-transform: uppercase;
                box-shadow: none;
                transition: all 0.4s ease 0s;
                &:hover {
                    background-color: rgba(50, 115, 220, 0.8);
                }
            }
        }
    }
}

.aside {
    z-index: 1400;
    background-color: $borderColor;
    position: absolute;
    top: 0;
    border: 2px solid $borderColor;
    border-radius: 25px;
    padding: 10px;
    width: 300px;
    height: calc(100vh - 310px);
    margin-top: 280px;
    margin-left: 0;
    display: none;
    h1 {
        font-size: 16px;
        font-weight: 700;
    }
    li a {
        font-size: 14px;
        border-radius: 0;
        border: 1;
        &:hover {
            background-color: $white;
        }
        .checkbox {
            margin-right: 20px;
        }
    }
}

.right-side {
    overflow: hidden;
    iframe {
        width: 110%;
        height: 100vh;
        //border: 2px solid $borderColor;
    }
    //background-image: url(/images/map.png);
    background-repeat: no-repeat;
    position: relative;
    height: calc(100vh - 40px);
    .interaction-buttons {
        height: 100%;
        position: fixed;
        right: 0;
        top: 5rem;
        display: grid;
        place-items: center;
        button {
            width: 30px;
            height: 30px;
            font-size: 14px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            border: none;
            margin: 5px;
            color: $darkGrey;
            background-color: $white;
            border: 1px solid $borderColor;
            &:hover {
                background-color: $darkGrey;
                color: $borderColor;
                border: none;
            }
        }
        .magnifiying-btn {
            position: absolute;
            right: 10;
            top: 0;
            border: none;
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
        }
        /** Tooltip CSS Animation**/
        .btn-rotation,
        .btn-zoom-in,
        .btn-zoom-out {
            position: relative;
        }
        .btn-rotation::before,
        .btn-rotation::after,
        .btn-zoom-in::before,
        .btn-zoom-in::after,
        .btn-zoom-out::before,
        .btn-zoom-out::after {
            position: absolute;
            right: 2.5rem;
            --scale: 0;
            cursor: pointer;
            transform-origin: right center;
            font-weight: 700;
            font-size: 12px;
        }
        .btn-rotation::before,
        .btn-zoom-in::before,
        .btn-zoom-out::before {
            content: attr(data-tooltip);
            padding: .5rem;
            color: $borderColor;
            background-color: $darkGrey;
            width: max-content;
            border-radius: .3rem;
            text-align: center;
            transform: scale(var(--scale));
            transition: 100ms transform ease-out;
        }
        .btn-rotation:hover:before,
        .btn-zoom-in:hover::before,
        .btn-zoom-out:hover::before {
            --scale: 1;
        }
        .map-styles {
            display: grid;
            position: absolute;
            right: 10;
            bottom: 230px;
            border: none;
            background-color: white;
            border-radius: 10px;
            display: none;
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
        }
        .layers-btn {
            display: grid;
            position: absolute;
            right: 10;
            bottom: 180;
            border: none;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
        }
        .info-btn {
            width: 20px;
            height: 20px;
            position: absolute;
            font-size: 12px;
            bottom: 85;
            right: 100;
            border-radius: 25px;
            color: $borderColor;
            background-color: rgb(0, 136, 255);
        }
        .mini-map {
            position: absolute;
            bottom: 90px;
            right: 10px;
            overflow: auto;
            width: 80px;
            height: 80px;
            border: 2px solid $borderColor;
            border-radius: 15px;
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
        }
    }
}


/** Button default button setting for all buttons**/

.button.is-rounded {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .02em;
    word-wrap: none;
}